@import "../../../../assets/css/valiables";
@import "../../../../assets/css/common";

.favorite-item-container {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 3px solid;
  border-color: $base-color-2;
  .favorite-item-content {
    margin: 10px 0 10px;
    padding-left: 10px;
    .favorite-item-left {
      .favorite-post-image {
        width: 100%;
        height: auto;
        @include makeCenter();
        border-radius: 10px;
      }
    }

    .favorite-item-right {
      padding-left: 10px;
      padding-right: 10px;
      .item-name {
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .item-value {
        color: red;
        font-size: 15px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .item-create-location {
        width: 100%;
        font-size: 12px;
        .item-createAt {
          float: left;
          padding-right: 20px;
        }
        .item-loaction {
          padding-right: 5px;
        }
      }
      .item-connect {
        padding-top: 30px;
        .group-btn {
          .item-btn-connect {
            cursor: pointer;
            color: white;
            margin-right: 5px;
            background: $button-color;
            border-radius: 10px;
            transition: all 0.3 ease-in-out;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}
