@import "../../assets/css/common";
@import "../../assets/css/valiables";

#homeContainer {
  position: relative;
  // @include scroll-custom();
  // overflow: hidden;
  min-height: 100vh;
  .home-posts {
    height: auto;
    h3 {
      @include fontSize1();
    }
  }
}
