@import "../../assets/css/common";
@import "../../assets/css/valiables";

.chat-container {
  margin-top: $height-sum;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 400px !important;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  .chat-left {
    display: none;
  }
}

.chat-left {
  width: 100%;
  height: calc(100vh - 215px);
  border: #f4f4f4 solid 2px;
  padding-right: 1px !important;
  padding-left: 0px !important;
  @include scroll-custom();
  overflow-x: hidden;
}

.chat-right {
  width: 100%;
  padding: 0px !important;
  border: #f4f4f4 solid 2px;

  .chat-mess-content {
    background-color: #f5f2f2;
    height: calc(100vh - 380px);
    @include scroll-custom();
    padding: 0px 10px;
  }
}
