@import "../../../assets/css/common";
@import "../../../assets/css/valiables";

.slideDetailContainer {
  overflow: hidden;
  width: 100%;
  .slide-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .slide-detail-image {
    height: 500px;
    width: auto;
    max-width: 100%;
  }
  .slide-detail-video {
    height: 500px;
    width: auto;
    max-width: 100%;
  }
}
