@import "../../assets/css/valiables";
@import "../../assets/css/common";

.createPostContainer {
    @include page-frame();
    @include width-container();

    .create-post-images {
        height: 100%;
        background-color: red;
    }
    .create-post-detail {
        height: 100%;
        background-color: blue;
    }
}

@media (min-width: 1500px) {
    .createPostContainer {
        @include width-lg-container();
    }
}
