@import "../../../assets/css/valiables";
@import "../../../assets/css/common";

.account-container {
  .form-edit-profile {
    .validate-form-text {
      color: red;
    }
  }
  .account-infor {
    h3 {
      @include fontSize1();
    }
    .account-infor-content {
      @include borderContent();
      .account-infor-content-detail-left {
        height: 100%;
        .account-edit-button {
          background-color: $base-color-1;
          color: white;
          margin-top: 0px;
          padding: 10px;
          i {
            padding-left: 5px;
          }
        }
      }
      .account-infor-content-detail-right {
        .account-detail {
          ul {
            list-style: none;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            li {
              padding-bottom: 10px;
              i {
                margin-right: 10px;
                width: 16px;
              }
              .social-icon {
                transition: 0.2s ease-in-out;
                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  color: $base-color-1;
                }
              }
              .infor-detail {
                a {
                  color: unset;
                }
                color: $base-color-2;
              }
            }
          }
        }
      }
    }
  }

  .account-password {
    padding-top: 20px;
    h3 {
      @include fontSize1();
    }
    .account-password-content {
      margin-bottom: 20px;
      @include borderContent();
      .account-password-left-top {
        padding: 20px;
        h3 {
          margin-top: 0px;
        }
      }
      .account-password-left-bottom {
        padding: 20px;
        h3 {
          margin-top: 0px;
        }
      }
      .account-password-right-bottom {
        padding: 20px;
        h3 {
          margin-top: 0px;
        }
      }
      .text-input {
        width: 100%;
        :focus {
          border-color: $base-color-2;
        }
      }
      .account-password-button {
        .account-password-update-button {
          padding: 10px;
          background-color: $base-color-1;
          color: white;
          i {
            padding-left: 5px;
          }
        }
      }
    }
  }
}
.validate-form-text {
  color: red;
}

.avatar-container {
  position: relative;
  margin-bottom: 10px;
  @include makeLeft();
  .account-avatar-profile {
    border-radius: 50%;
    transition: ease-in-out 0.4s;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
    max-width: 100%;
    z-index: 5;
    position: relative;
    &:hover {
      cursor: pointer;
      box-shadow: inset 0px 0px 10px 5px rgba($color: #000000, $alpha: 0.5);
      transform: scale(1.005);
    }
    .change-avatar {
      position: absolute;
      z-index: 10;
      top: calc(50% - 16px);
      left: calc(50%);
      transition: 0.1 ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      .custom-file-upload {
        i {
          color: $base-color-2;
        }
      }
    }
  }
}
