@import "../../assets/css/common";
@import "../../assets/css/valiables";

.container {
    @include page-frame();
    // background-image: url("../../assets/image/pagenotfound.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-page {
    padding-top: 100px;
    .not-post-content,
    .not-found-page-img {
        width: 100%;
        @include makeCenter();
        padding: 0px 30px;
    }
    .not-found-page-img {
        img {
            width: 30%;
            height: 30%;
        }
    }
    .not-post-content {
        p {
            font-weight: bold;
            font-size: 22px;
            text-align: center;
        }
        span {
            padding: 0px 50px;
            text-align: center;
        }
    }
}
