@import "../../assets/css/common";
@import "../../assets/css/valiables";

.container {
    @include page-frame();
    // background-image: url("../../assets/image/pagenotfound.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
