@import "../../assets/css/valiables";
@import "../../assets/css/common";

.detail-container {
  position: relative;
  min-height: 100vh;
}

.copy-check-mark {
  position: fixed;
  top: 40%;
  right: 45%;
}

.detail-left {
  margin: 10px 0px 10px 0px;
  .detail-left-image {
    width: 100%;
    height: 500px;
    position: relative;
    .detail-time-create {
      position: absolute;
      top: 0px;
      height: auto;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      @include makeRight();
      p {
        color: white;
        margin: 10px;
        font-size: 20px;
      }
    }
  }
  .detail-left-content {
    position: relative;
    margin-top: 30px;
    h4 {
      margin-top: 10px;
    }
    p {
      color: red;
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
    }
    .detail-favorite-heart {
      position: absolute;
      bottom: 0px;
      right: 0px;
      button {
        background-color: $base-color-1;
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
      }
      button:hover {
        background-color: $base-color-2;
      }
    }
  }
  .detail-left-description {
    p {
      margin: 8px 0px;
    }
    .description-area {
      display: block;
      overflow: hidden;
      resize: none;
      width: 100%;
      border: none;
      background-color: transparent;
      margin-bottom: 10px;
    }
  }
  .detail-properties {
    .itemt-property {
      margin-bottom: 20px;
      i {
        margin-right: 5px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}
.detail-right {
  height: 100%;
  margin: 10px 0px 10px 0px;
  .detail-user-profile {
    height: 70px;
    justify-content: left;
    align-items: center;
    display: flex;
    position: relative;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }
    p {
      font-size: 16px;
      font-weight: bold;
    }
    .view-profile-seller {
      position: absolute;
      right: 0px;
      .btn {
        background-color: $base-color-1;
        color: white;
        &:hover {
          background-color: $base-color-2;
          color: $base-color-1;
        }
      }
    }
  }
  .detail-seller-reviews {
    margin-top: 10px;
    border-radius: 5px;
    border: $base-color-1 2px solid;
    height: 60px;
    p {
      margin-bottom: 5px;
      font-weight: bolder;
      width: 100%;
    }
    .detail-time-join {
      text-align: center;
    }
    .detail-time-join {
      border-right: $base-color-1 2px solid;
    }
    .detail-compare {
      .detail-compare-btn {
        background-color: $base-color-1;
        color: #fff;
        height: 38px;
        i {
          color: #fff;
          margin-right: 5px;
        }
      }
    }
  }
  .detail-contact-seller {
    border: $base-color-1 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    p {
      margin-bottom: 0px !important;
    }
  }
  .detail-chat-seller {
    margin-top: 10px;
    button {
      background-color: $base-color-1;
      color: white;
      width: 100%;
      &:hover {
        background-color: $base-color-2;
        color: $base-color-1;
      }
    }
  }
  .detail-share {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: #000 1px solid;
    p {
      font-size: 20px;
      font-weight: bold;
    }
    .socialMediaButton {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .copy-link-btn {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      background-color: rgb(185, 201, 214);
      border-radius: 50%;
      color: white;
    }
  }
}

// @media (max-width: 1040px) {
//   .detail-right {
//     display: none;
//   }
// }
