@import "../../../assets/css/valiables";
@import "../../../assets/css/common";

.my-post-manager {
    h3 {
        @include fontSize1();
    }
    .my-post-status-select {
        .filter-header {
            .filter-header-sort {
                margin-right: 20px;
            }
            .form-check:first-child {
                padding-left: 0px !important;
            }
        }
    }
}

.product-matching-search {
    min-height: 300px;
    width: 100%;
    .loading-matching,
    .product-matching-detail {
        width: 100%;
        min-height: 300px;
        @include makeCenter();
        p {
            font-size: 18px;
            font-weight: bold;
        }
    }
}
