@import "../../../assets/css/valiables";
@import "../../../assets/css/common";

.account-container {
  .account-infor {
    .account-infor-content {
      width: 100%;
      height: auto;
      border-radius: 20px;
      border: 3px solid;
      border-color: $base-color-2;
      color: $base-color-1;
      .account-infor-content-detail-left {
        padding: 20px;
        height: 100%;
        //   background-color: red;
        .account-avatar {
          border-radius: 50%;
          width: 120px;
          height: 120px;
          transition: ease-in-out 0.4s;
          margin-right: 10px;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 10px 5px rgba($color: #000000, $alpha: 0.5);
            transform: scale(1.05);
          }
        }

        .account-followed {
          font-size: 14px;
          float: left;
        }

        .account-following {
          font-size: 14px;
          padding-left: 20px;
        }

        .account-edit-button {
          background-color: $base-color-1;
          color: white;
          margin-top: 20px;
          border-radius: 10px;
          padding: 10px;
          i {
            padding-left: 5px;
          }
        }
      }
      .account-infor-content-detail-right {
        .account-detail {
          ul {
            list-style: none;
            li {
              padding-bottom: 10px;
              i {
                margin-right: 10px;
                width: 16px;
              }
              .social-icon {
                transition: 0.2s ease-in-out;
                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  color: $base-color-1;
                }
              }
              .infor-detail {
                color: $base-color-2;
              }
            }
          }
        }
      }
    }
  }

  .account-password {
    padding-top: 20px;
    .account-password-content {
      width: 100%;
      height: auto;
      border-radius: 20px;
      border: 3px solid;
      border-color: $base-color-2;
      color: $base-color-1;
      .account-password-left-top {
        padding: 20px;
        h3 {
          margin-top: 0px;
        }
      }
      .account-password-left-bottom {
        padding: 20px;
        h3 {
          margin-top: 0px;
        }
      }
      .account-password-right-bottom {
        padding: 20px;
        h3 {
          margin-top: 0px;
        }
      }
      .text-input {
        width: 100%;
        :focus {
          border-color: $base-color-2;
        }
      }
      .account-password-button {
        padding: 20px;
        .account-password-update-button {
          padding: 10px;
          background-color: $base-color-1;
          color: white;
          border-radius: 10px;
          i {
            padding-left: 5px;
          }
        }
      }
    }
  }
}
